.controls {
  position: absolute;
  top: 45%;
  left: 2%;
  width: 95%;

  display: flex;
  justify-content: space-between;
  z-index: 1000;
  color: white;

  p {
    font-size: 50px;
    cursor: pointer;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  }
}

.captions {
  position: absolute;
  bottom: 15px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 20px;
  width: 90%;

  background-color: rgba(255, 255, 255, 0.5);
}
