.controls {
  position: absolute;
  top: 45%;
  left: 2%;
  width: 95%;

  display: flex;
  justify-content: space-between;
  color: #900000;

  p,
  svg {
    font-size: 50px;
    cursor: pointer;

    filter: drop-shadow(0px 2px 5px rgba(200, 200, 200, 0.5));

    transition: filter 0.5s;

    &:hover {
      filter: drop-shadow(0px 2px 4px rgba(200, 200, 200, 0.6));
    }
  }
}

.captions {
  position: absolute;
  bottom: 15px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 20px;
  width: 90%;

  background-color: rgba(255, 255, 255, 0.5);
}

.menuOpen {
  position: absolute;
  top: 10px;
  right: 0px;
  font-size: 25px;

  cursor: pointer;
}
